@{
    ViewData["Title"] = "Home";
}

<h1 class="main-title">My Photo Album</h1>

<div class="page-links">
    <a href="/Home/Nature">
        <div class="icon">🌿</div>
        Nature Collection
    </a>
    <a href="/Home/Cities">
        <div class="icon">🏙️</div>
        Cities Collection
    </a>
    <a href="/Home/Animals">
        <div class="icon">🐾</div>
        Animals Collection
    </a>
    <a href="/Home/Food">
        <div class="icon">🍲</div>
        Food Collection
    </a>
    <a href="/Home/Travel">
        <div class="icon">✈️</div>
        Travel Collection
    </a>
</div>
